<div class="itemmarketline" id="itemmarketline_<%= itemIndex %>" style="color:<%= color %>">
<span class="itemmarketnum"><%= pct %>%</span>
<span class="itemmarketnum"><%= xchg %></span>
<span class="itemmarketnum">(<%= n %>)</span>
<span id="add" class="button itemmarketbtn">+</span>
<span id="sub" class="button itemmarketbtn">-</span>
</div>
